body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #000000;
  }
  
  header {
    background-color: #321212;
    color: rgb(255, 255, 255);
    padding: 1rem 0;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .hero {
    background: linear-gradient(135deg, #321212, #321212);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 3rem 1rem;
  }
  
  .hero h1 {
    font-size: 2.5rem;
  }
  
  .hero-content p {
    font-size: 1.2rem;
  }
  
  .cta-button {
    background-color: white;
    color: #030603;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
  }
  
 .signin, .features, .benefits {
    padding: 2rem 1rem;
    text-align: center;
  }
  
  .feature-cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  
  .card {
    border: 1px solid #373333;
    border-radius: 5px;
    padding: 1rem;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  footer {
    background-color: #321212;
    color: white;
    text-align: center;
    padding: 1rem 0;
  }
  